body{
    background-color: rgb(8, 59, 76);
}

h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}